/* ОБЩИЕ НАСТРОЙКИ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 107px 134px;

    max-width: 1440px;
    width: 100%;
}

a {
    text-decoration: none;
}


/*  */


